* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(50, 50, 50);
  height: 100vh;
  width: 100%;
  padding: 20px;
  gap: 10px;

  display: grid;
  grid-template: 50% 50%/ 1fr 1fr 1fr;
}

.card:nth-child(1) {
  background-color: rgb(221, 133, 60);
  grid-column: 1/2;
}

.card:nth-child(2) {
  background-color: rgb(219, 150, 94);
  grid-column: 2/3;
}

.card:nth-child(3) {
  background-color: rgb(237, 173, 120);
  grid-column: 3/4;
}

.card:nth-child(4) {
  background-color: rgb(240, 194, 157);
  grid-column: 1/2;
}

.card:nth-child(5) {
  background-color: rgb(255, 220, 191);
  grid-column: 2/3;
}

.card:nth-child(6) {
  background-color: rgb(255, 234, 218);
  grid-column: 3/4;
}

@media (max-width: 520px) {
  body {
    background-color: rgb(78, 78, 78);
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
  }

  .card:nth-child(1),
  .card:nth-child(2),
  .card:nth-child(3),
  .card:nth-child(4),
  .card:nth-child(5),
  .card:nth-child(6) {
    grid-column: auto;
  }
}
