* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* EXEMPLO 5/6???? */

/* body {
  height: 100vh;
  background-color: aliceblue;
}

.cards {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template: 25% auto 15% / 1fr 1fr 1fr 1fr;

  gap: 20px;
}

.cards .card:nth-child(1) {
  background-color: rgb(13, 77, 145);
  grid-column: 1/3;
}

.cards .card:nth-child(2) {
  background-color: rgb(34, 111, 193);
  grid-column: 3/5;
}

.cards .card:nth-child(3) {
  background-color: rgb(65, 139, 218);
  grid-column: 1/2;
}

.cards .card:nth-child(4) {
  background-color: rgb(88, 157, 231);
  grid-column: 2/5;
}

.cards .card:nth-child(5) {
  background-color: rgb(130, 190, 255);

  grid-column: 1/5;
}

@media (max-width: 520px) {
  body {
    background-color: rgb(255, 255, 255);
  }

  .cards {
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr;
  }

  .cards .card:nth-child(1),
  .cards .card:nth-child(2),
  .cards .card:nth-child(3),
  .cards .card:nth-child(4),
  .cards .card:nth-child(5) {
    grid-column: auto;
  }
} */

/* EXEMPLO 4 */

/* .cards {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template:
    "logo logo header header" 25% "article main main main" 1fr
    "footer footer footer footer" 15% / 1fr 1fr 1fr 1fr;

  gap: 20px;
}

.cards .card:nth-child(1) {
  background-color: rgb(42, 42, 42);
  grid-area: logo;
}

.cards .card:nth-child(2) {
  background-color: rgb(106, 106, 106);
  grid-area: header;
}

.cards .card:nth-child(3) {
  background-color: rgb(189, 189, 189);
  grid-area: article;
}

.cards .card:nth-child(4) {
  background-color: rgb(81, 81, 81);
  grid-area: main;
}

.cards .card:nth-child(5) {
  background-color: rgb(0, 0, 0);
  grid-area: footer;
} */

/* EXEMPLO 3 */

/* body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 500px;
  height: 400px;
  background-color: pink;

  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 100px);

  justify-content: center;
  align-content: center;

  justify-items: center;
  align-items: center;
}

.card {
  width: 50px;
  height: 50px;
  background-color: hotpink;
} */

/* EXEMPLO 2 */

/* body {
  height: 100vh;
  background-color: pink;
}

.cards {
  width: 100%;
  height: 100vh;

  background-color: palevioletred;

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-items: center;
}

.card {
  width: 250px;
  height: 300px;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
} */

/* EXEMPLO 1 */

/* 
body {
  height: 100vh;
  background-color: pink;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 20% 20% 1fr 15%;
  grid-template-areas:
    "header header"
    "article text1"
    "article text2"
    "main main"
    "footer footer";
}

header {
  background-color: cadetblue;
  grid-area: header;
}

article {
  background-color: rgb(119, 169, 185);
  grid-area: article;
}

.text1,
.text2 {
  background-color: rgb(159, 202, 216);
  grid-area: text1, text2;
}

main {
  background-color: rgb(201, 234, 255);
  grid-area: main;
}

footer {
  background-color: rgb(63, 122, 124);
  grid-area: footer;
} */
